<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>
	<appender name="consoleForLoginInterceptor" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				▷ %-5level %d{HH:mm:ss} %logger[%method:%line] - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="kr.co.hakyo" level="ERROR"/>
	<logger name="org.springframework.web" level="INFO"/>
    
    <logger name="jdbc.sqltiming" additivity="false">
        <level value="WARN" />
        <appender-ref ref="STDOUT" />
    </logger>
 
    <logger name="jdbc.audit" additivity="false">
        <level value="WARN" />
        <appender-ref ref="STDOUT" />
    </logger>
    
    <logger name="jdbc.resultset" additivity="false">
        <level value="WARN" />
        <appender-ref ref="STDOUT" />
    </logger>
    
    <logger name="org.springframework" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
    </logger>
    
    <logger name="java.sql" additivity="false">
        <level value="WARN"/> 
        <appender-ref ref="STDOUT"/> 
    </logger> 

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>